* {
	background: rgb(41, 40, 40);
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	color: white;
	font-family: 'Courier New', Courier, monospace;
}

svg,
i {
	pointer-events: none;
}

.kick-pad,
.snare-pad,
.hihat-pad {
	width: 5rem;
	height: 5rem;
	margin: 1rem 0.5rem;
	cursor: pointer;
}

.kick-pad {
	background: rgb(125, 232, 247);
}

.snare-pad {
	background: rgb(247, 116, 116);
}

.hihat-pad {
	background: rgb(227, 202, 253);
}

.hihat-track,
.snare-track,
.kick-track {
	display: flex;
	align-items: center;
	width: 70%;
	justify-content: space-between;
	margin-top: 5rem;
}

.kick,
.snare,
.hihat {
	display: flex;
}

.sequencer {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.controls {
	display: flex;
	justify-content: space-evenly;
	flex: 1;
	align-items: center;
	margin: 0 2rem;
}

.controls button {
	background: rgb(41, 40, 40);
	color: #ffff;
	padding: 1rem;
	font-size: 1rem;
	outline: none;
	border: none;
	cursor: pointer;
	transition: all ease 0.5s;
}

.pad {
	transition: all ease 0.5s;
}

.kick-pad.active {
	background: rgb(5, 185, 209);
}

.snare-pad.active {
	background: rgb(207, 4, 4);
}

.hihat-pad.active {
	background: rgb(134, 33, 248);
}

.play {
	padding: 1rem 2rem;
	font-size: 1.5rem;
	background: rgb(88, 88, 88);
	color: #fff;
	border: none;
	cursor: pointer;
	margin: 3rem;
}
.mute.active {
	background: rgb(168, 166, 166);
	color: rgb(20, 20, 20);
}

select {
	background: #ccc;
	padding: 0.8rem;
	font-size: 16px;
	font-weight: bold;
}
.tempo {
	margin: 3rem;
	width: 30%;
}
.tempo-slider {
	padding: 0.2rem;
	-webkit-appearance: none;
	margin: 1rem 0rem;
	width: 100%;
	position: relative;
	background: rgb(88, 88, 88);
	cursor: pointer;
	border-radius: 1rem;
}
.tempo p {
	font-size: 1.5rem;
	margin: 2rem;
	text-align: center;
}

@keyframes playTrack {
	from {
		transform: scale(1);
	}
	to {
		transform: scale(1.2);
	}
}
